.main {
    background-color: #f8f9fa; /* Color de fondo suave */
    color: #343a40; /* Color de texto principal */
}
h1 {
    color: #007bff; /* Azul vibrante para el título principal */
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
}
h2, h3 {
    color: #3498db; /* Azul un poco más oscuro para subtítulos */
}
.stButton>button {
    background-color: #28a745; /* Verde para los botones de acción */
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}
.stButton>button:hover {
    background-color: #218838; /* Verde más oscuro al pasar el ratón */
    transform: translateY(-2px);
}
.stRadio > label {
    font-weight: bold;
    color: #495057;
    font-size: 18px;
    margin-bottom: 10px;
}
.stRadio div[role="radiogroup"] label {
    padding: 10px 0;
    margin-left: 10px;
}
.stSelectbox > label {
    font-size: 16px;
    font-weight: bold;
}
.stAlert {
    border-radius: 8px;
    font-size: 16px;
}
